[Desktop Entry]
Version=1.0
Type=Application
Name=DaVinci Remote Monitoring
Exec=/app/bin/resolve-studio.py --run-remote-monitoring
Icon=com.blackmagic.ResolveStudio.RemoteMonitoring
Terminal=false
StartupNotify=true
Categories=AudioVideo
PrefersNonDefaultGPU=true
