[Desktop Entry]
Version=1.0
Type=Application
Name=Blackmagic RAW Player
Exec=/app/bin/resolve-studio.py --run-brawplayer %U
Icon=com.blackmagic.ResolveStudio.RAWPlayer
Terminal=false
MimeType=application/x-braw-clip;application/x-braw-sidecar;
StartupNotify=true
Categories=AudioVideo
PrefersNonDefaultGPU=true
